.dashboard-header {
    height: 60px;
}

.grid-tile {
    border: 1px solid #2c3e50;
    border-radius: 10px;
    padding: 10px;
}

.app-class {
    width: 15%;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}

@media screen and (max-width: 735px) {
    .app-class {
        width: 40%;
    }
  }

.apps-container{
    display: flex;
    flex-wrap: wrap;
}
