<div class="column-flex-display full-height-width app-background">

    <div class="dashboard-header">
        <mat-toolbar color="primary" class="dashboard-header">
            <img src="{{assetsPath + 'title-40X40.png'}}" alt="" />
            <!-- <img src="{{assetsPath + 'theinstashare-191X40.png'}}" alt="" /> -->
            <span style="margin-left: 10px;" class="header-font">TheInstashare</span>
            <span class="toolbar-spacer"></span>
            <button mat-icon-button aria-label="" (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar>
    </div>

    <!-- container for all the applications -->
    <div id="apps-container" class="apps-container">
        <div *ngFor="let appContext of appIconsContext" (click)="registerApplicationUser(appContext.identifier)" class="app-class pointer-cursor">

            <mat-card>
                <mat-card-content>
                    <div class="column-flex-display align-center">
                        <mat-icon class="icon-class" svgIcon="{{appContext.iconName}}"></mat-icon>
                        <span class="header-font app-name">{{appContext.iconText}}</span>
                    </div>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>