<div id="frame" class="full-height-width">

    <div id="login-form-div">
        <div id="login-form" class="login-form">

            <!-- input field -->
            <mat-form-field appearance="outline" color="warn" class="mat-focused">
                <mat-label>{{inputFieldLabel}}</mat-label>
                <input #groupNameInput matInput placeholder="Group name" (keyup)="handleKeyUpEvent()" style="color: black;">
            </mat-form-field>
            <p *ngIf="errorMessage !== undefined" style="color: red;">* {{errorMessage}}</p>

            <button mat-raised-button
                [ngStyle]="{'display':  isRegistering ? 'none': 'block'}"
                class="button-class app-background" (click)="createOrJoinGroup('existing')">
                <p>Join existing group</p>
            </button>

            <button mat-raised-button [ngStyle]="{'display': isRegistering ? 'none': 'block'}"
                class="button-class app-background" (click)="createOrJoinGroup('new')">
                <p>Create a new group</p>
            </button>

            <mat-spinner diameter="30" style="left:40%" color="warn" *ngIf="isRegistering"></mat-spinner>

        </div>
    </div>
</div>