<div id="info-container" class="column-flex-display">
  <div
    *ngFor="let row of infoContext.rows; last as isLast"
    class="column-flex-display"
    style="margin-bottom: 10px"
  >
    <div [ngClass]="row.rowStyle ? row.rowStyle : { 'row-flex-display': true }">
      <div *ngFor="let element of row.elements">
        <!-- @TODO see if ngSwitch can be used here -->

        <!-- text element -->
        <div *ngIf="element.type === 'text'" [ngClass]="element.textDivStyle">
          <span [ngClass]="element.textStyle">{{ element.text }}</span>
        </div>

        <!-- icon -->
        <div *ngIf="element.type === 'icon'">
          <mat-icon
            *ngIf="element.isSvgIcon"
            svgIcon="{{ element.icon }}"
          ></mat-icon>
          <mat-icon *ngIf="!element.isSvgIcon">{{ element.icon }}</mat-icon>
        </div>

        <!-- button icon -->
        <div *ngIf="element.type === 'button'">
          <button
            mat-icon-button
            aria-label="app icon button"
            *ngIf="element.isIconButton"
            color="{{ element.buttonColor }}"
          >
            <mat-icon *ngIf="!element.isSvgIcon" svgIcon="app_icon"></mat-icon>
            <mat-icon *ngIf="!element.isSvgIcon" svgIcon="app_icon"></mat-icon>
            {{ element.buttonText }}
          </button>

          <button
            mat-stroked-button
            aria-label="app icon button"
            *ngIf="!element.isIconButton"
            color="{{ element.buttonColor }}"
          >
            {{ element.buttonText }}
          </button>
        </div>
      </div>
    </div>

    <!-- for border below every row -->
    <div
      *ngIf="row.needBorderAfterRow && !isLast"
      style="width: 100%; border-bottom: 1px solid black; margin-top: 10px"
    ></div>
  </div>
</div>
