<div id="container" class="full-height-width">

  <div id="frame" class="full-height-width top-container">

    <!-- Draggable DIV -->
    <div id="draggable_div" class="draggable-div"
      *ngIf="talkWindowContextService.bindingFlags.isAccessingRemote && talkWindowContextService.bindingFlags.isFullScreenMode"
      (click)="handleRemoteAccess('stop')">
      <!-- Include a header DIV with the same name as the draggable DIV, followed by "header" -->
      <div id="draggable_header" class="draggable-div-header crimson-color">End Remote Access</div>>
    </div>

    <!-- sidepanel -->
    <div id="sidepanel" [ngClass]="{'hidden-class':talkWindowContextService.bindingFlags.isFullScreenMode || !talkWindowContextService.bindingFlags.showSidepanel,
       'column-flex-display': true, 'border-class': true }">

      <!-- username header -->
      <div class="username-header">
        <mat-toolbar color="primary">
          <span>Logged in as: {{userContextService.username}}</span>
          <span class="toolbar-spacer"></span>
          <button mat-icon-button aria-label="logout icon button" (click)="logout()">
            <mat-icon>logout</mat-icon>
          </button>
        </mat-toolbar>
      </div>

      <!-- online users -->
      <div id="contacts" class="flex-grow-full">

        <!-- no body is online -->
        <div id="no_one_online" style="margin-top: 10px;" class="row-flex-display center-content"
          *ngIf="talkWindowContextService.activeUsers.length === 0">
          <span>Nobody is Online!!</span>
        </div>

        <div [ngClass]="{'flex-grow-full': true, 'vertical-scroll': true, 'no-scroll': true }">
          <mat-list>
            <mat-list-item id="contact-{{user}}" *ngFor="let user of talkWindowContextService.activeUsers; last as last"
              (click)="startTextChat(user)" class="pointer-cursor">
              <mat-icon matListIcon>{{talkWindowContextService.getUserStatus(user) ? 'person': 'person_off'}}
              </mat-icon>
              <h3 matLine> {{user}} </h3>

              <!-- unread message badge -->
              <mat-chip-list aria-label="Fish selection" *ngIf="userContextService.getUserWebrtcContext(user) !== null && 
              userContextService.getUserWebrtcContext(user).unreadCount !== 0">
                <mat-chip color="primary" selected>
                  {{userContextService.getUserWebrtcContext(user).unreadCount}}
                </mat-chip>
              </mat-chip-list>

              <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
            </mat-list-item>
          </mat-list>
        </div>

      </div>


    </div>

    <div #chat_div id="chat_div" [ngClass]="{'column-flex-display': true,
      'hidden-class': !talkWindowContextService.bindingFlags.showChatWindow,
      'hide-vertical-overflow': true}">

      <!-- contact profile header -->
      <div id="contact-profile-header"
        [ngClass]="{'username-header': true,
      'hidden-class':(userContextService.isMobile && talkWindowContextService.bindingFlags.haveRemoteVideoStream 
      && !talkWindowContextService.bindingFlags.minimizeVideo) || talkWindowContextService.bindingFlags.isFullScreenMode}">
        <mat-toolbar color="primary">
          <mat-icon>
            {{talkWindowContextService.getUserStatus(userContextService.userToChat) ? 'person': 'person_off'}}
          </mat-icon>
          <span>{{userContextService.userToChat}}</span>
          <span class="toolbar-spacer"></span>

          <button mat-icon-button aria-label="back icon button" *ngIf="userContextService.isMobile"
            (click)="backToContacts()">
            <mat-icon>arrow_back</mat-icon>
          </button>

          <button mat-icon-button aria-label="text icon button" *ngIf="!userContextService.isMobile 
          && talkWindowContextService.bindingFlags.haveRemoteVideoStream 
          && !talkWindowContextService.bindingFlags.minimizeVideo" (click)="resizeRemoteVideo(true)">
            <mat-icon>message</mat-icon>
          </button>

          <button mat-icon-button aria-label="dnd icon button" *ngIf="!userContextService.isMobile"
            (click)="handleDnd()">
            <mat-icon>
              {{talkWindowContextService.bindingFlags.isDndOn ? 'do_not_disturb_off' : 'do_not_disturb_on'}}
            </mat-icon>
          </button>

          <button mat-icon-button aria-label="mute icon button"
            *ngIf="!userContextService.isMobile && talkWindowContextService.bindingFlags.isAudioCalling"
            (click)="handleMute()">
            <mat-icon>{{talkWindowContextService.bindingFlags.isOnMute ? 'mic_off' : 'mic'}}</mat-icon>
          </button>

          <button mat-icon-button aria-label="screen sharing icon button" *ngIf="talkWindowContextService.bindingFlags.isScreenSharing 
          || (!userContextService.isMobile && !talkWindowContextService.bindingFlags.isVideoCalling)"
            (click)="handleMediaStreaming(talkWindowContextService.bindingFlags.isScreenSharing ? 'stop-screen' : 'screen')">
            <mat-icon>
              {{talkWindowContextService.bindingFlags.isScreenSharing ? 'desktop_access_disabled':'desktop_windows'}}
            </mat-icon>
          </button>

          <button mat-icon-button aria-label="remote access icon button" *ngIf="talkWindowContextService.bindingFlags.isScreenSharing 
          && talkWindowContextService.bindingFlags.haveRemoteVideoStream 
          && talkWindowContextService.remoteAccessContext['canAccessRemote']"
            (click)="handleRemoteAccess(talkWindowContextService.bindingFlags.isAccessingRemote ? 'stop' : 'start')">
            <mat-icon>mouse</mat-icon>
          </button>

          <button mat-icon-button aria-label="system sound icon button" *ngIf="talkWindowContextService.bindingFlags.isScreenSharing 
          && talkWindowContextService.bindingFlags.haveLocalVideoStream 
          && (userContextService.isNativeApp || talkWindowContextService.bindingFlags.isSoundSharing)"
            (click)="handleMediaStreaming(talkWindowContextService.bindingFlags.isSoundSharing ? 'stop-sound' : 'sound')">
            <mat-icon>
              {{talkWindowContextService.bindingFlags.isSoundSharing ? 'volume_off':'volume_up'}}
            </mat-icon>
          </button>

          <button mat-icon-button aria-label="full screen icon button"
            *ngIf="!userContextService.isMobile && talkWindowContextService.bindingFlags.haveRemoteVideoStream"
            (click)="handleVideoFullScreen(true)">
            <mat-icon>zoom_out_map</mat-icon>
          </button>

          <button mat-icon-button aria-label="video call icon button"
            *ngIf="!userContextService.isMobile && !talkWindowContextService.bindingFlags.isScreenSharing"
            (click)="handleMediaStreaming(talkWindowContextService.bindingFlags.isVideoCalling ? 'stop-video' :'video')">
            <mat-icon>
              {{talkWindowContextService.bindingFlags.isVideoCalling ? 'videocam_off': 'videocam'}}
            </mat-icon>
          </button>

          <button mat-icon-button aria-label="audio call icon button" *ngIf="!userContextService.isMobile"
            (click)="handleMediaStreaming(talkWindowContextService.bindingFlags.isAudioCalling ? 'stop-audio' :'audio')">
            <mat-icon>
              {{talkWindowContextService.bindingFlags.isAudioCalling ? 'phone_disabled': 'phone_enabled'}}
            </mat-icon>
          </button>

          <button mat-icon-button aria-label="audio call icon button" *ngIf="userContextService.isMobile"
            (click)="setIconsPopup()">
            <mat-icon>more_vert</mat-icon>
          </button>

        </mat-toolbar>
      </div>

      <div #remote_video_div id="remote_video_div" [ngClass]="{
        'full-height-width':talkWindowContextService.bindingFlags.haveRemoteVideoStream && talkWindowContextService.bindingFlags.isFullScreenMode,
        'hidden-class':!talkWindowContextService.bindingFlags.haveRemoteVideoStream,
        'local-video':talkWindowContextService.bindingFlags.minimizeVideo,
        'video-div': talkWindowContextService.bindingFlags.haveRemoteVideoStream && !talkWindowContextService.bindingFlags.minimizeVideo
      }">

        <video #remoteVideo id="remoteVideo" [ngClass]="{
          'video-tag show-class':talkWindowContextService.bindingFlags.haveRemoteVideoStream,
         'hidden-class':!talkWindowContextService.bindingFlags.haveRemoteVideoStream,
         'scale-video':!talkWindowContextService.bindingFlags.isScreenSharing}" autoplay>
        </video>

        <!-- this is blank canvas used for remote access -->
        <canvas #remote_video_canvas id="remote_video_canvas" [ngClass]="{
          'remote-video-canvas':true, 
          'hidden-class':!talkWindowContextService.bindingFlags.isScreenSharing 
          || !talkWindowContextService.bindingFlags.haveRemoteVideoStream 
          || !talkWindowContextService.bindingFlags.isAccessingRemote}" tabindex="0">
        </canvas>

      </div>

      <div id="local_video_div" [ngClass]="{'local-video':talkWindowContextService.bindingFlags.haveLocalVideoStream  
        && !talkWindowContextService.bindingFlags.minimizeVideo,
        'mobile-local-video':talkWindowContextService.bindingFlags.isFullScreenMode || userContextService.isMobile,
        'hidden-class': !talkWindowContextService.bindingFlags.haveLocalVideoStream 
        || talkWindowContextService.bindingFlags.minimizeVideo 
        || talkWindowContextService.bindingFlags.isScreenSharing}">
        <video #localVideo id="localVideo" class="local-video mobile-local-video show-class" autoplay></video>
      </div>

      <div #messageHistory id="message-history" [ngClass]="{
      'flex-grow-full':true,
      'hidden-class':talkWindowContextService.bindingFlags.haveRemoteVideoStream 
      && !talkWindowContextService.bindingFlags.minimizeVideo,
      'hide-vertical-overflow':true}">

        <div #messageHistoryDiv id="message-history-div" class="no-scroll vertical-scroll full-height-width">
          <div *ngIf="talkWindowContextService.hasMessageContext(userContextService.userToChat)" style="margin: 10px;">
            <div *ngFor="let message of talkWindowContextService.getMessageContext(userContextService.userToChat)"
              class="row-flex-display"
              [ngStyle]="{'flex-direction':message.sent ? 'row-reverse': 'row', 'margin':'10px'}">
              <mat-icon matListIcon style="margin-right: 10px;">person</mat-icon>

              <div [ngStyle]="{'align-items': message.sent ? 'flex-end': 'flex-start', 'width':'100%'}"
                class="column-flex-display">

                <div *ngIf="message.type === 'text'" [ngClass]="{'message-class':true,
                   'indigo-background':message.sent,
                    'pink-backgroud':!message.sent,
                    'color-white':true}">
                  {{message.message}}
                </div>

                <div *ngIf="message.type === 'file'" class="column-flex-display message-class">

                  <!-- progress bar for file receive -->
                  <mat-progress-bar color="primary" mode="indeterminate"
                    *ngIf="talkWindowContextService.sharedContent[message.contentId] === undefined">
                  </mat-progress-bar>

                  <img id="media_{{message.contentId}}"
                    *ngIf="message.contentType === 'image' && talkWindowContextService.sharedContent[message.contentId] !== undefined"
                    src="{{talkWindowContextService.sharedContent[message.contentId]}}"
                    (click)="openMediaViewer(message.contentType,message.contentId)">

                  <video id="media_{{message.contentId}}"
                    *ngIf="message.contentType === 'video' && talkWindowContextService.sharedContent[message.contentId] !== undefined"
                    src="{{talkWindowContextService.sharedContent[message.contentId]}}"
                    (click)="openMediaViewer(message.contentType,message.contentId)"></video>

                  <audio id="media_{{message.contentId}}"
                    *ngIf="message.contentType === 'audio' && talkWindowContextService.sharedContent[message.contentId] !== undefined"
                    src="{{talkWindowContextService.sharedContent[message.contentId]}}" controls></audio>

                  <button mat-icon-button aria-label=""
                    *ngIf="!message.sent && talkWindowContextService.sharedContent[message.contentId] !== undefined"
                    (click)="downloadFile(message.contentId,message.fileName,$event)">
                    <mat-icon>file_download</mat-icon>
                  </button>
                </div>

                <!-- message delievery status -->
                <p *ngIf="message.sent">
                  {{message.status}}
                </p>
                <!-- message time -->
                <p *ngIf="message.sent">
                  {{message.time}}
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- message input -->
      <div id="type-message" [ngClass]="{
        'hidden-class':talkWindowContextService.bindingFlags.haveRemoteVideoStream 
        && !talkWindowContextService.bindingFlags.minimizeVideo,
        'row-flex-display': true,
        'type-message-class': true,
        'align-center': true,
        'center-content': true}">

        <div class="flex-grow-full hide-vertical-overflow" style="height: 100%;">
          <input #text_msg maxlength="256" placeholder="Enter your message" class="full-height-width"
            (keyup)="sendTextMessage($event)">
        </div>
        <input id="file_input" type="file" style="display:none" (change)="startSharingFile($event)" multiple />

        <div class="border-class column-flex-display center-content" style="height: 100%;">
          <button mat-icon-button color="accent" aria-label="attachment icon button" (click)="openFileDialog()">
            <mat-icon>attachment</mat-icon>
          </button>
        </div>

        <div class="border-class column-flex-display center-content" style="height: 100%;">
          <button mat-icon-button color="primary" aria-label="send message icon button" (click)="sendTextMessage()">
            <mat-icon>send</mat-icon>
          </button>
        </div>

      </div>

      <audio #remoteAudio id="remoteAudio" style="display:none" autoplay></audio>
      <audio #remoteSound id="remoteSound" style="display:none" autoplay></audio>
      <audio id="callerTune" style="display:none" muted src="{{assetsPath + 'media/tune.mp3'}}" loop></audio>
      <audio id="messageTune" style="display:none" muted src="{{assetsPath + 'media/message.mp3'}}"></audio>
    </div>
  </div>
</div>

<!-- Modal Popup for displaying informational info or various requests -->
<div id="myModal" class="{{(talkWindowContextService.popupContext.size === 0) ? 'hidden-class': 'modal show-class'}}">
  <div id="myModalContent" class="modal-content"
    *ngFor="let context of talkWindowContextService.popupContext| keyvalue">
    <p id="modal-text" class="font-weight-bold" style="text-align:center; margin-bottom: 20px">
      {{context.value.modalText}}</p>
    <div style="text-align:center;">
      <i *ngIf="context.value.type.includes('connecting')" class="fas fa-spinner fa-spin fa-2x"></i><br>
      <div class="call-buttons">

        <div id="disconnect" *ngIf="context.value.disconnect"
          class="pointer-cursor circle-icon crimson-color modal-button"
          (click)="closeCall('disconnect', context.value.channel)">
          <i *ngIf="context.value.channel === 'video'" class="fas fa-video-slash"></i>
          <i *ngIf="context.value.channel === 'audio'" class="fas fa-phone-slash"></i>
          <i *ngIf="context.value.channel === 'screen'" class="fas fa-desktop"></i>
          <i *ngIf="context.value.channel === 'sound'" class="fas fa-play-circle"></i>
          <i *ngIf="context.value.channel === 'remoteControl'" class="fas fa-mouse"></i>
        </div>

        <div id="accept" *ngIf="context.value.accept" class="pointer-cursor circle-icon mgreen-color modal-button"
          (click)="acceptCall(context.value.channel)">
          <i *ngIf="context.value.channel === 'video'" class="fas fa-video"></i>
          <i *ngIf="context.value.channel === 'audio'" class="fas fa-phone"></i>
          <i *ngIf="context.value.channel === 'screen'" class="fas fa-desktop"></i>
          <i *ngIf="context.value.channel === 'sound'" class="fas fa-play-circle"></i>
          <i *ngIf="context.value.channel === 'remoteControl'" class="fas fa-mouse"></i>
        </div>

        <div id="decline" *ngIf="context.value.decline" class="pointer-cursor circle-icon crimson-color modal-button"
          (click)="closeCall('decline', context.value.channel)">
          <i *ngIf="context.value.channel === 'video'" class="fas fa-video-slash"></i>
          <i *ngIf="context.value.channel === 'audio'" class="fas fa-phone-slash"></i>
          <i *ngIf="context.value.channel === 'screen'" class="fas fa-desktop"></i>
          <i *ngIf="context.value.channel === 'sound'" class="fas fa-play-circle"></i>
          <i *ngIf="context.value.channel === 'remoteControl'" class="fas fa-mouse"></i>
        </div>

        <button id="close" *ngIf="context.value.close" class="btn btn-dark btn-sm modal-button"
          (click)="closeCall('close', context.value.channel)">close</button>
      </div>
    </div>
  </div>
</div>