.frame {
  height: 100%;
  background: #E6EAEA;
}

.video-div {
  width: 100%;
  height: calc(100% - 60px);
  position: relative;
  background: #000;
}

.scale-video {
  object-fit: cover;
}

.video-tag {
  position: relative;
  background: #000;
}

@media screen and (max-width: 735px) {
  .video-div {
    height: 100%;
  }
}

.center-screen-video {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.full-height-width {
  height: 100%;
  width: 100%;
}

.remote-video-canvas {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.local-video {
  height: 200px;
  width: 200px;
  position: absolute;
  right: 0;
  top: 60px;
  background: #fff;
  z-index: 10;
  object-fit: cover;
}

.mobile-local-video {
  top: 0;
}

@media screen and (max-width: 735px) {
  .local-video {
    height: 100px;
    width: 100px;
  }
}

#sidepanel {
  float: left;
  background: #2c3e50;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel {
    width: 100%;
  }
}

@media screen and (min-width: 735px) {
  #frame #sidepanel {
    width: 23%;
  }
}

#profile {
  height: 60px;
  margin: auto;
  text-align: center;
}

.search-contacts {
  padding: 2px;
  height: 43px;
  text-align: center;
}

.center-header {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contacts {
  height: calc(100% - 103px);
  overflow-y: scroll;
}

.no-scroll::-webkit-scrollbar {
  width: 3px !important
}

#contacts-ul {
  margin: auto;
}

.contact-list {
  background: #2c3e50;
}

#frame .content {
  float: right;
  height: 100%;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 735px) {
  #frame #chat_div {
    width: 100%;
  }
}

@media screen and (min-width: 735px) {
  #frame .content-desktop {
    width: calc(100% - 23%);
  }
}

.contact-profile {
  width: 100%;
  height: 60px;
  background: #f5f5f5;
}

.side-div {
  display: inline-block;
  font-size: 1.5em;
  margin: 10px 15px 15px 15px;
}

.social-media {
  float: right;
  display: flex;
}

.img-column {
  margin: 0 10px 0 10px;
}

.circle-icon {
  padding: 10px;
  border-radius: 50%;
}

#frame .content .messages {
  height: calc(100% - 110px);
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 3px;
}

@media screen and (max-width: 735px) {
  #frame .content .messages {
    height: calc(100% - 108px);
  }
}

.message-history-div {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

#frame .content .messages .message-history-div::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

#frame .content .messages .message-history-div::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

#frame .content .messages .message-history-div ul li {
  display: block;
}

.message-n-icon {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.sent .message-n-icon i {
  margin: 6px 8px 0 0;
}

.sent .message-n-icon p {
  background: #435f7a;
  color: #f5f5f5;
}

.replies .message-n-icon i {
  float: right;
  margin: 6px 0 0 8px;
}

.replies .message-n-icon p {
  background: #f5f5f5;
  float: right;
}

.message-n-icon div {
  display: inline-block;
  padding: 10px 5px 0 10px;
  width: 400px;
}

.replies .message-n-icon div {
  float: right;
}

@media screen and (max-width: 735px) {
  .message-n-icon div {
    width: 250px;
  }
}

.right-float {
  float: right;
}

.left-float {
  float: left;
}

.message-media {
  max-width: 100%;
  max-height: 100%;
}

.message-n-icon p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}

@media screen and (min-width: 735px) {
  .message-n-icon p {
    max-width: 300px;
  }
}

#frame .content .message-input {
  width: 100%;
}

#frame .content .message-input .wrap {
  position: relative;
}

#frame .content .message-input .wrap input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 90px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  color: #32465a;
}

@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
  }
}

#frame .content .message-input .wrap input:focus {
  outline: none;
}

#frame .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}

#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}

#frame .content .message-input .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}

@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap button {
    padding: 16px 0;
  }
}

#frame .content .message-input .wrap button:hover {
  background: #435f7a;
}

#frame .content .message-input .wrap button:focus {
  outline: none;
}

.modal-button {
  margin: 5px 10px 5px 10px;
}

.lgreen-color {
  background: #20B2AA;
}

.crimson-color {
  background: #DC143C;
}

.mgreen-color {
  background: #3CB371;
}

.sgreen-color {
  background: #00FF7F;
}

.grey-color {
  background: #A9A9A9;
}

.cyan-color {
  background: #00FFFF
}

.deepskyblue-color {
  background: #00BFFF
}

.media-viewer-content {
  padding: 0px;
}

@media screen and (max-width: 735px) {
  .media-viewer-content {
    width: 100%;
  }
}

.media-viewer-modal {
  padding-top: 60px;
}

.call-buttons {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.draggable-div {
  position: absolute;
  z-index: 11;
  text-align: center;
  bottom: 5px;
  right: 5px;
}

.draggable-div-header {
  padding: 10px;
  cursor: pointer;
  z-index: 12;
}