.top-container {
  display: grid;
  grid-template-columns: 23% 77%;
  grid-template-rows: 100%;
}

@media screen and (max-width: 735px) {
  .top-container {
    grid-template-columns: 100% 100%;
  }
}

.full-screen-video {
  grid-template-columns: 100%;
}

.scale-video {
  object-fit: cover;
}

.remote-video-canvas {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.local-video {
  height: 200px;
  width: 200px;
  position: absolute;
  right: 0;
  top: 60px;
  background: #fff;
  z-index: 10;
  object-fit: cover;
}

.mobile-local-video {
  top: 0;
}

@media screen and (max-width: 735px) {
  .local-video {
    height: 100px;
    width: 100px;
  }
}

.username-header {
  height: 60px;
}

.contacts {
  height: calc(100% - 103px);
  overflow-y: scroll;
}

.message-history-div {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.type-message-class {
  height: 50px;
}

@media screen and (max-width: 735px) {
  .type-message-class {
    height: 40px;
  }
}

.message-class {
  max-width: 60%;
  word-wrap: break-word;
  border-radius: 10px;
  padding: 10px;
}

@media screen and (max-width: 735px) {
  .message-class {
    max-width: 90%;
  }
}

.draggable-div {
  position: absolute;
  z-index: 11;
  text-align: center;
  bottom: 5px;
  right: 5px;
}

.draggable-div-header {
  padding: 10px;
  cursor: pointer;
  z-index: 12;
}
