.top-container {
  display: grid;
  grid-template-columns: 23% 77%;
  grid-template-rows: 100%;
}

@media screen and (max-width: 735px) {
  .top-container {
    grid-template-columns: 100% 100%;
  }
}

.video-div {
  width: 100%;
  height: calc(100% - 60px);
  position: relative;
  background: #000;
}

.scale-video {
  object-fit: cover;
}

.video-tag {
  position: relative;
  background: #000;
}

@media screen and (max-width: 735px) {
  .video-div {
    height: 100%;
  }
}

.center-screen-video {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.remote-video-canvas {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.local-video {
  height: 200px;
  width: 200px;
  position: absolute;
  right: 0;
  top: 60px;
  background: #fff;
  z-index: 10;
  object-fit: cover;
}

.mobile-local-video {
  top: 0;
}

@media screen and (max-width: 735px) {
  .local-video {
    height: 100px;
    width: 100px;
  }
}

.username-header {
  height: 60px;
}

.contacts {
  height: calc(100% - 103px);
  overflow-y: scroll;
}

.no-scroll::-webkit-scrollbar {
  width: 3px !important;
}

.side-div {
  display: inline-block;
  font-size: 1.5em;
  margin: 10px 15px 15px 15px;
}

.circle-icon {
  padding: 10px;
  border-radius: 50%;
}

.message-history-div {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.type-message-class {
  height: 50px;
}

@media screen and (max-width: 735px) {
  .type-message-class {
    height: 40px;
  }
}

.modal-button {
  margin: 5px 10px 5px 10px;
}

.lgreen-color {
  background: #20b2aa;
}

.crimson-color {
  background: #dc143c;
}

.mgreen-color {
  background: #3cb371;
}

.sgreen-color {
  background: #00ff7f;
}

.grey-color {
  background: #a9a9a9;
}

.cyan-color {
  background: #00ffff;
}

.deepskyblue-color {
  background: #00bfff;
}

.media-viewer-content {
  padding: 0px;
}

@media screen and (max-width: 735px) {
  .media-viewer-content {
    width: 100%;
  }
}

.media-viewer-modal {
  padding-top: 60px;
}

.call-buttons {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.draggable-div {
  position: absolute;
  z-index: 11;
  text-align: center;
  bottom: 5px;
  right: 5px;
}

.draggable-div-header {
  padding: 10px;
  cursor: pointer;
  z-index: 12;
}
