<div id="login-form" class="column-flex-display full-height-width center-content align-center">

  <div class="row-flex-display center-content branding-class">
    <img src="{{assetsPath + 'images/icons/title-40X40.png'}}" alt="" />
    <img src="{{assetsPath + 'images/icons/theinstashare-191X40.png'}}" alt="" />
  </div>

  <div class="column-flex-display">

    <!-- input field -->
    <mat-form-field appearance="outline" color="warn" class="mat-focused form-field-class">
      <mat-label>{{inputFieldLabel}}</mat-label>
      <input #usernameInput matInput placeholder="Enter user name" (keyup)="login($event)">
    </mat-form-field>

    <p *ngIf="errorMessage !== undefined" style="color: red;">*{{errorMessage}}</p>

    <button mat-raised-button class="button-class app-background" (click)="login()" *ngIf="!isRegistering">
      <p>LOGIN</p>
    </button>
    <mat-spinner diameter=50 color="warn" *ngIf="isRegistering"></mat-spinner>
  </div>

</div>