.branding-class {
    margin-bottom: 30px;
}

@media screen and (min-width: 735px) {
    .form-field-class {
        width: 350px;
    }
}

@media screen and (max-width: 735px) {
    .form-field-class {
        width: 70%;
    }
}
