<div id="frame" class="full-height-width">

    <div id="login-form-div">
        <div id="login-form" class="login-form" style="text-align: center;">

            <div class="branding-class">
                <img src="{{assetsPath + 'images/icons/title-40X40.png'}}" alt="" />
                <img src="{{assetsPath + 'images/icons/theinstashare-191X40.png'}}" alt="" />
            </div>

            <!-- input field -->
            <mat-form-field appearance="outline" color="warn" style="width: 100%;color: black;" class="mat-focused">
                <mat-label>{{inputFieldLabel}}</mat-label>
                <input #usernameInput matInput placeholder="Enter user name" (keyup)="login($event)">
            </mat-form-field>
            <p *ngIf="showError" style="color: red;">{{errorText}}</p>

            <button mat-raised-button class="button-class app-background" (click)="login()">
                <p>LOGIN</p>
            </button>

        </div>
    </div>
</div>