<div id="frame" class="full-height-width column-flex-display align-center center-content">

        <div style="margin-bottom: 30px;" class="row-flex-display">
            <img src="{{assetsPath + 'images/icons/title-40X40.png'}}" alt="" />
            <img src="{{assetsPath + 'images/icons/theinstashare-191X40.png'}}" alt="" />
        </div>

        <!-- input field -->
        <mat-form-field appearance="outline" color="primary" style="width: 100%;">
            <mat-label>{{inputFieldLabel}}</mat-label>
            <input #usernameInput matInput placeholder="Enter user name to start" (keyup)="login($event)"
                autocomplete="off">
        </mat-form-field>
        <p *ngIf="errorMessage !== undefined" style="color: red;">*{{errorMessage}}</p>

        <button mat-raised-button color="primary" (click)="login()" *ngIf="!isRegistering" style="width: 100%;">
            <p>LOGIN</p>
        </button>
        <mat-spinner color="primary" *ngIf="isRegistering"></mat-spinner>
</div>