.top-container {
    display: grid;
    grid-template-columns: 23% 77%;
    grid-template-rows: 100%;
}

.dashboard-header {
    width: 100%;
    height: 60px;
    color: white;
}

.icons-header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    color: white;
}

.border-bottom {
    border-bottom: 2px solid white;
}

.text-center {
    text-align: center;
}

.hide-vertical-overflow {
    overflow-y: hidden;
}

.vertical-scroll {
    overflow-y: scroll;
}

.toolbar-icon {
    margin-right: 8px;
}

.input-message {
    background: white;
    height: 60px;
}

.video-frames {
    background: black;
}
